@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container, .container-md, .container-sm {
    max-width: 100%;
}

.container {
    height: 100vh;
    padding-left: 0;
    max-width: 100%;
    background-image: url('./assets/sativa.png');
}

.background {
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: 0, -10px;
    width: 100%;
    height: 250px;
}

.transparent-background {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 250px;
}

.content {
    margin-top: -80px;
    width: 155px;
    margin-left: auto;
    margin-right: auto;
}

.content img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: black;
    line-height: 1.2;
    font-weight: 400;
}

p  {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: black;
    line-break: 1.2;
    font-weight: 200;
}

.text {
    margin-top: 20px;
}

.text p, .text h1 {
    margin-top: 10px;
}

.nav {
    margin-top: 20px;
    width: 214px;
    margin-left: auto;
    margin-right: auto;
}

.nav li {
    display: inline-block;
}

.nav img {
    width: 50px;
}

.nav .spacing {
    margin-left: 25px;
    margin-right: 25px;
}

.container2 {
    background-color: salmon;
    width: 100%;
    height: 100vh;
}

.container3 {
    background-color: lightblue;
    width: 100%;
    height: 100vh;
}

.container2 h1 , .container3 h1 {
    line-height: 100vh;
}

.container2 .uc, .container3 .uc {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 img, .container3 img {
    width: 40%;
}