.container {
    width: 60%;
    border: 5px solid black;
    margin: 25px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container div {
    width: 150px;
    height: 150px;
    background-color: lightsteelblue;
    margin: 5px;
}