* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(./assets/sativa.png);
    background-color: #eaeaea;
    color: #333;
}

.topbar {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom: 1px solid white;
}

.center {
    width: 80%;
    height: 70%;
    box-sizing: border-box;
}

.topbar .center {
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
}

.center img {
    width: 65px;
    height: 95%;
    border-radius: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

.center h1 {
    width: fit-content;
    height: 95%;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
    display: inline-block;
}

.ribbon {
    position: absolute;
    top: -0.4%;
    right: -1%;
}

.ribbon img{
    width: 130px;
}

.adds {
    background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 150px;
        left: 200px;
        right: 200px;
        bottom: 150px;
}

.adds .close {
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border: 3px solid black;
    border-radius: 100%;
    position: absolute;
    top: -15px;
    right: -15px;
}

.adds .close:hover {
    background-color: salmon;
    color: white;
}

.adds h1 {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 100px auto 20px;
    width: 960px;
    background-color: white;
    position: relative;
}

.title {
    margin-left: 20px;
    padding-top: 15px;
}

.nav {
    margin-left: 20px;
    margin-top: 20px;
}

.nav li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}

.nav a {
    text-decoration: none;
    color: salmon;
    padding: 10px;
}

.nav a:hover {
    background-color:salmon;
    color: white;
}

.banner {
    height: 350px;;
    border-top: 3px solid salmon;
    border-bottom: 3px solid lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: 350px;
    background-size: cover;
}

.judul-artikel {
    margin-left: 20px;
}

.keterangan-artikel {
    margin-left: 20px;
}

.keterangan-artikel a {
    text-decoration: none;
    color: salmon;
}

.keterangan-artikel a:hover {
    background-color: lightblue;
    color: white;
}

.artikel {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.artikel p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 28px;
}

.footer {
    box-sizing: border-box;
    padding: 20px;
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
}

.content {
    width: 600px;
    box-sizing: border-box;
    float: right;
    border-left: 2px solid black;
    margin-left: 20px;
}

.about {
    width: 300px;
    float: left;
    margin-left: 20px;
}

.about h2 {
    font-weight: 400;
    line-height: 1.2;
    color: black;
}

.about .addmargintop h2 {
    background-color: red;
}

.about-container img {
    width: 90px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about-container p {
    text-align: justify;
    margin-top: 20px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }